.directroy-nav{
    text-align: center;
    padding: 50px 0px;
    font-size: 20px;
    font-weight: 750;
    color: gray;
}
.directroy-nav a,span{
    text-decoration: none;
    margin: 0px 20px;
}

.directroy-nav .shopping-cart{
    color: rgb(34, 65, 175);
}
.directroy-nav .order-complete,.checkout{
    color: gray;
}
.directroy-nav .checkout:hover{
   color: rgb(34, 65, 175);
}

.products-summary{
    display: flex;
    justify-content: space-around;

}
.product-table{
    margin-left: 70px;
    border: 2px red solid;
}

.product-table th,
.product-table td {
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}


.product-info {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 10px;
  border: black solid;
}

.product-img {
  width: 70px;
  height: 70px;
  border: black solid;
}

.product-img img {
  width: 100%;
  margin-right: 30px;
}

.quantity {
  display: flex;
  
  align-items: center;
  border: 1px solid #ddd;
}

.quantity button {
  background: none;
  border: none;
  padding: 10px 12px;
  font-size: 16px;
  cursor: pointer;
}

.quantity span {
  padding: 10px 12px;
  font-size: 16px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}


.cart-chackout-info{
    padding: 60px;
   border: 2px solid #ddd;
}